.container-5{
	border:1px solid black;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}


.flex-blackjack-row1, .flex-blackjack-row2, .flex-jackblack-row3{
	display: flex;
	border: 1px solid black;
	padding: 10px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	/*border: 1px solid blue;*/
}

.flex-blackjack-row1, .flex-blackjack-row2{
	background:url('../images/blackjackimg.jpg') center;
	color: #D1E0DB;
}
.flex-blackjack-row1 div{
	border: 1px solid black;
	padding: 10px;
	flex:1;
	height: 315px; 
	text-align: center;
}
.flex-blackjack-row1 img{
	width: 25%;
	padding: 10px;
}

.flex-blackjack-row2 button{
	border: 1px solid black;
	padding: 10px;
}

.flex-blackjack-row2 div{
	border: 1px solid black;
	padding: 10px;
}
table, th,td{
	padding: 5px;
	border: 1px solid black;
}
